<p id="notice"><%= notice %></p>

<p>
  <strong>Code note:</strong>
  <%= @notes_x_subject.code_note %>
</p>

<p>
  <strong>Code subject:</strong>
  <%= @notes_x_subject.code_subject %>
</p>

<p>
  <strong>Description:</strong>
  <%= @notes_x_subject.description %>
</p>

<%= link_to 'Edit', edit_notes_x_subject_path(@notes_x_subject) %> |
<%= link_to 'Back', notes_x_subjects_path %>
