<p id="notice"><%= notice %></p>

<p>
  <strong>Code type:</strong>
  <%= @type_person.code_type %>
</p>

<p>
  <strong>Name type:</strong>
  <%= @type_person.name_type %>
</p>

<%= link_to 'Edit', edit_type_person_path(@type_person) %> |
<%= link_to 'Back', type_people_path %>
