<%= form_with(model: person_x_debility, local: true) do |form| %>
  <% if person_x_debility.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person_x_debility.errors.count, "error") %> prohibited this person_x_debility from being saved:</h2>

      <ul>
      <% person_x_debility.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :debility_id %>
    <%= form.text_field :debility_id %>
  </div>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.text_field :person_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
