<%= form_with(model: program_x_university, local: true) do |form| %>
  <% if program_x_university.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(program_x_university.errors.count, "error") %> prohibited this program_x_university from being saved:</h2>

      <ul>
      <% program_x_university.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code_program_id %>
    <%= form.text_field :code_program_id %>
  </div>

  <div class="field">
    <%= form.label :code_university_id %>
    <%= form.text_field :code_university_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
