<p id="notice"><%= notice %></p>

<p>
  <strong>Code program:</strong>
  <%= @program_x_university.code_program %>
</p>

<p>
  <strong>Code university:</strong>
  <%= @program_x_university.code_university %>
</p>

<p>
  <strong>Description:</strong>
  <%= @program_x_university.description %>
</p>

<%= link_to 'Edit', edit_program_x_university_path(@program_x_university) %> |
<%= link_to 'Back', program_x_universities_path %>
