<%= form_with(model: program, local: true) do |form| %>
  <% if program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code_program %>
    <%= form.number_field :code_program %>
  </div>

  <div class="field">
    <%= form.label :description_program %>
    <%= form.text_field :description_program %>
  </div>

  <div class="field">
    <%= form.label :name_program %>
    <%= form.text_field :name_program %>
  </div>

  <div class="field">
    <%= form.label :url_program %>
    <%= form.text_field :url_program %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
