<p id="notice"><%= notice %></p>

<p>
  <strong>Code program:</strong>
  <%= @program.code_program %>
</p>

<p>
  <strong>Name program:</strong>
  <%= @program.name_program %>
</p>

<p>
  <strong>Description program:</strong>
  <%= @program.description_program %>
</p>

<p>
  <strong>Url program:</strong>
  <%= @program.url_program %>
</p>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
