<p id="notice"><%= notice %></p>

<p>
  <strong>Code type:</strong>
  <%= @type_user.code_type %>
</p>

<p>
  <strong>Name type:</strong>
  <%= @type_user.name_type %>
</p>

<%= link_to 'Edit', edit_type_user_path(@type_user) %> |
<%= link_to 'Back', type_users_path %>
