<p id="notice"><%= notice %></p>

<p>
  <strong>Code subject:</strong>
  <%= @activities_x_subject.code_subject %>
</p>

<p>
  <strong>Code activity:</strong>
  <%= @activities_x_subject.code_activity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activities_x_subject.description %>
</p>

<%= link_to 'Edit', edit_activities_x_subject_path(@activities_x_subject) %> |
<%= link_to 'Back', activities_x_subjects_path %>
