<%= form_with(model: entity, local: true) do |form| %>
  <% if entity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
      <% entity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code_entity %>
    <%= form.number_field :code_entity %>
  </div>

  <div class="field">
    <%= form.label :name_entity %>
    <%= form.text_field :name_entity %>
  </div>

  <div class="field">
    <%= form.label :address_entity %>
    <%= form.text_field :address_entity %>
  </div>

  <div class="field">
    <%= form.label :description_entity %>
    <%= form.text_field :description_entity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
