<p id="notice"><%= notice %></p>

<p>
  <strong>Name entity:</strong>
  <%= @entity.name_entity %>
</p>

<p>
  <strong>Address entity:</strong>
  <%= @entity.address_entity %>
</p>

<p>
  <strong>Description entity:</strong>
  <%= @entity.description_entity %>
</p>

<%= link_to 'Edit', edit_entity_path(@entity) %> |
<%= link_to 'Back', entities_path %>
