<p id="notice"><%= notice %></p>

<p>
  <strong>Code note:</strong>
  <%= @note.code_note %>
</p>

<p>
  <strong>Valuenote note:</strong>
  <%= @note.valuenote_note %>
</p>

<p>
  <strong>Description note:</strong>
  <%= @note.description_note %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
