<p id="notice"><%= notice %></p>

<p>
  <strong>Code city:</strong>
  <%= @university_x_city.code_city %>
</p>

<p>
  <strong>Code university:</strong>
  <%= @university_x_city.code_university %>
</p>

<p>
  <strong>Description:</strong>
  <%= @university_x_city.description %>
</p>

<%= link_to 'Edit', edit_university_x_city_path(@university_x_city) %> |
<%= link_to 'Back', university_x_cities_path %>
