<p id="notice"><%= notice %></p>

<p>
  <strong>Code course:</strong>
  <%= @course.code_course %>
</p>

<p>
  <strong>Name course:</strong>
  <%= @course.name_course %>
</p>

<p>
  <strong>Description course:</strong>
  <%= @course.description_course %>
</p>

<p>
  <strong>Url course:</strong>
  <%= @course.url_course %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
