<p id="notice"><%= notice %></p>

<h1>Schools</h1>

<table>
  <thead>
    <tr>
      <th>Address school</th>
      <th>Email school</th>
      <th>Name school</th>
      <th>Description school</th>
      <th>Phone school</th>
      <th>City</th>
      <th>Type person</th>
      <th>Password school</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.address_school %></td>
        <td><%= school.email_school %></td>
        <td><%= school.name_school %></td>
        <td><%= school.description_school %></td>
        <td><%= school.phone_school %></td>
        <td><%= school.city %></td>
        <td><%= school.type_person %></td>
        <td><%= school.password_school %></td>
        <td><%= link_to 'Show', school %></td>
        <td><%= link_to 'Edit', edit_school_path(school) %></td>
        <td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School', new_school_path %>
