<%= form_with(model: hab_x_person, local: true) do |form| %>
  <% if hab_x_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hab_x_person.errors.count, "error") %> prohibited this hab_x_person from being saved:</h2>

      <ul>
      <% hab_x_person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code_hability_id %>
    <%= form.text_field :code_hability_id %>
  </div>

  <div class="field">
    <%= form.label :code_person_id %>
    <%= form.text_field :code_person_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
