<p id="notice"><%= notice %></p>

<h1>Hab X People</h1>

<table>
  <thead>
    <tr>
      <th>Code hability</th>
      <th>Code person</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hab_x_people.each do |hab_x_person| %>
      <tr>
        <td><%= hab_x_person.code_hability %></td>
        <td><%= hab_x_person.code_person %></td>
        <td><%= hab_x_person.description %></td>
        <td><%= link_to 'Show', hab_x_person %></td>
        <td><%= link_to 'Edit', edit_hab_x_person_path(hab_x_person) %></td>
        <td><%= link_to 'Destroy', hab_x_person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hab X Person', new_hab_x_person_path %>
