<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code_person %>
    <%= form.number_field :code_person %>
  </div>

  <div class="field">
    <%= form.label :name_person %>
    <%= form.text_field :name_person %>
  </div>

  <div class="field">
    <%= form.label :age_person %>
    <%= form.date_select :age_person %>
  </div>

  <div class="field">
    <%= form.label :address_person %>
    <%= form.text_field :address_person %>
  </div>

  <div class="field">
    <%= form.label :code_gender_id %>
    <%= form.text_field :code_gender_id %>
  </div>

  <div class="field">
    <%= form.label :code_city_id %>
    <%= form.text_field :code_city_id %>
  </div>

  <div class="field">
    <%= form.label :code_school_id %>
    <%= form.text_field :code_school_id %>
  </div>

  <div class="field">
    <%= form.label :code_type_id %>
    <%= form.text_field :code_type_id %>
  </div>

  <div class="field">
    <%= form.label :password_person %>
    <%= form.text_field :password_person %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
