<p id="notice"><%= notice %></p>

<h1>People</h1>

<table>
  <thead>
    <tr>
      <th>Birthdate people</th>
      <th>Address people</th>
      <th>Email people</th>
      <th>Gender</th>
      <th>Name people</th>
      <th>Lastname people</th>
      <th>School</th>
      <th>Phone people</th>
      <th>City</th>
      <th>Type person</th>
      <th>Password people</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.birthdate_people %></td>
        <td><%= person.address_people %></td>
        <td><%= person.email_people %></td>
        <td><%= person.gender %></td>
        <td><%= person.name_people %></td>
        <td><%= person.lastname_people %></td>
        <td><%= person.school %></td>
        <td><%= person.phone_people %></td>
        <td><%= person.city %></td>
        <td><%= person.type_person %></td>
        <td><%= person.password_people %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
