<p id="notice"><%= notice %></p>

<p>
  <strong>Code person:</strong>
  <%= @person.code_person %>
</p>

<p>
  <strong>Name person:</strong>
  <%= @person.name_person %>
</p>

<p>
  <strong>Age person:</strong>
  <%= @person.age_person %>
</p>

<p>
  <strong>Address person:</strong>
  <%= @person.address_person %>
</p>

<p>
  <strong>Code gender:</strong>
  <%= @person.code_gender %>
</p>

<p>
  <strong>Code city:</strong>
  <%= @person.code_city %>
</p>

<p>
  <strong>Code school:</strong>
  <%= @person.code_school %>
</p>

<p>
  <strong>Code type:</strong>
  <%= @person.code_type %>
</p>

<p>
  <strong>Password person:</strong>
  <%= @person.password_person %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
