<p id="notice"><%= notice %></p>

<p>
  <strong>Birthdate people:</strong>
  <%= @person.birthdate_people %>
</p>

<p>
  <strong>Address people:</strong>
  <%= @person.address_people %>
</p>

<p>
  <strong>Email people:</strong>
  <%= @person.email_people %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @person.gender %>
</p>

<p>
  <strong>Name people:</strong>
  <%= @person.name_people %>
</p>

<p>
  <strong>Lastname people:</strong>
  <%= @person.lastname_people %>
</p>

<p>
  <strong>School:</strong>
  <%= @person.school %>
</p>

<p>
  <strong>Phone people:</strong>
  <%= @person.phone_people %>
</p>

<p>
  <strong>City:</strong>
  <%= @person.city %>
</p>

<p>
  <strong>Type person:</strong>
  <%= @person.type_person %>
</p>

<p>
  <strong>Password people:</strong>
  <%= @person.password_people %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
