<p id="notice"><%= notice %></p>

<p>
  <strong>Code subject:</strong>
  <%= @subject.code_subject %>
</p>

<p>
  <strong>Name subject:</strong>
  <%= @subject.name_subject %>
</p>

<p>
  <strong>Description subject:</strong>
  <%= @subject.description_subject %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
