<p id="notice"><%= notice %></p>

<p>
  <strong>Code debility:</strong>
  <%= @deb_x_person.code_debility %>
</p>

<p>
  <strong>Code person:</strong>
  <%= @deb_x_person.code_person %>
</p>

<p>
  <strong>Description:</strong>
  <%= @deb_x_person.description %>
</p>

<%= link_to 'Edit', edit_deb_x_person_path(@deb_x_person) %> |
<%= link_to 'Back', deb_x_people_path %>
