<p id="notice"><%= notice %></p>

<p>
  <strong>Code gender:</strong>
  <%= @gender.code_gender %>
</p>

<p>
  <strong>Name gender:</strong>
  <%= @gender.name_gender %>
</p>

<%= link_to 'Edit', edit_gender_path(@gender) %> |
<%= link_to 'Back', genders_path %>
