<p id="notice"><%= notice %></p>

<p>
  <strong>Code university:</strong>
  <%= @university.code_university %>
</p>

<p>
  <strong>Name university:</strong>
  <%= @university.name_university %>
</p>

<p>
  <strong>Address uiversity:</strong>
  <%= @university.address_uiversity %>
</p>

<p>
  <strong>Email university:</strong>
  <%= @university.email_university %>
</p>

<p>
  <strong>Description university:</strong>
  <%= @university.description_university %>
</p>

<%= link_to 'Edit', edit_university_path(@university) %> |
<%= link_to 'Back', universities_path %>
