<%= form_with(model: programs_x_university, local: true) do |form| %>
  <% if programs_x_university.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(programs_x_university.errors.count, "error") %> prohibited this programs_x_university from being saved:</h2>

      <ul>
      <% programs_x_university.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Programs_id %>
    <%= form.text_field :Programs_id %>
  </div>

  <div class="field">
    <%= form.label :University_id %>
    <%= form.text_field :University_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
