<%= form_with(model: hability, local: true) do |form| %>
  <% if hability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hability.errors.count, "error") %> prohibited this hability from being saved:</h2>

      <ul>
      <% hability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code_hability %>
    <%= form.number_field :code_hability %>
  </div>

  <div class="field">
    <%= form.label :name_hability %>
    <%= form.text_field :name_hability %>
  </div>

  <div class="field">
    <%= form.label :description_hability %>
    <%= form.text_field :description_hability %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
