<p id="notice"><%= notice %></p>

<p>
  <strong>Code hability:</strong>
  <%= @hability.code_hability %>
</p>

<p>
  <strong>Name hability:</strong>
  <%= @hability.name_hability %>
</p>

<p>
  <strong>Description hability:</strong>
  <%= @hability.description_hability %>
</p>

<%= link_to 'Edit', edit_hability_path(@hability) %> |
<%= link_to 'Back', habilities_path %>
