<%= form_with(model: debility, local: true) do |form| %>
  <% if debility.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(debility.errors.count, "error") %> prohibited this debility from being saved:</h2>

      <ul>
      <% debility.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code_debility %>
    <%= form.number_field :code_debility %>
  </div>

  <div class="field">
    <%= form.label :name_debility %>
    <%= form.text_field :name_debility %>
  </div>

  <div class="field">
    <%= form.label :description_debility %>
    <%= form.text_field :description_debility %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
