<p id="notice"><%= notice %></p>

<h1>Debilities</h1>

<table>
  <thead>
    <tr>
      <th>Name debility</th>
      <th>Description debility</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @debilities.each do |debility| %>
      <tr>
        <td><%= debility.name_debility %></td>
        <td><%= debility.description_debility %></td>
        <td><%= link_to 'Show', debility %></td>
        <td><%= link_to 'Edit', edit_debility_path(debility) %></td>
        <td><%= link_to 'Destroy', debility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Debility', new_debility_path %>
