<p id="notice"><%= notice %></p>

<p>
  <strong>Entity:</strong>
  <%= @course_x_entity.Entity %>
</p>

<p>
  <strong>Courses:</strong>
  <%= @course_x_entity.Courses %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course_x_entity.description %>
</p>

<%= link_to 'Edit', edit_course_x_entity_path(@course_x_entity) %> |
<%= link_to 'Back', course_x_entities_path %>
