<p id="notice"><%= notice %></p>

<h1>Debility X People</h1>

<table>
  <thead>
    <tr>
      <th>People</th>
      <th>Debility</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @debility_x_people.each do |debility_x_person| %>
      <tr>
        <td><%= debility_x_person.people %></td>
        <td><%= debility_x_person.debility %></td>
        <td><%= debility_x_person.description %></td>
        <td><%= link_to 'Show', debility_x_person %></td>
        <td><%= link_to 'Edit', edit_debility_x_person_path(debility_x_person) %></td>
        <td><%= link_to 'Destroy', debility_x_person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Debility X Person', new_debility_x_person_path %>
